<app-dialog
  imgPath="icons/usthb.webp"
  [firstTitle]="translations().get(translatesEnum.USTHB1)"
  [subtitle]="translations().get(translatesEnum.LICENCE_TELECOM)"
  startDate="09/2014"
  endDate="06/2017"
>
  <p>{{ translations().get(translatesEnum.USTHB1PARAGRAPH1) }}</p>
  <p>{{ translations().get(translatesEnum.USTHB1PARAGRAPH2) }}</p>

  <h3>{{ translations().get(translatesEnum.SKILLS_ACQUIRED) }}</h3>

  <ul>
    @for (bullet of bulletList; track bullet) {
      <li>{{ translations().get(bullet) }}</li>
    }
  </ul>

  <app-chips [chips]="chips"></app-chips>
</app-dialog>
