<div class="caroussel">
  <div class="carousel-wrapper" [ngStyle]="carouselWrapperStyle">
    <ul class="carousel-inner" #carousel>
      <li *ngFor="let item of items;" class="carousel-item">
        <ng-container [ngTemplateOutlet]="item.tpl"></ng-container>
      </li>
    </ul>
  </div>
  <div class="controls">
    <mat-icon [hidden]="!isPrevVisible" (click)="prev()" class="clickable">arrow_back-ios</mat-icon>
    <span> {{ service.currentSlide + 1 }} / {{ items?.length }}</span>
    <mat-icon [hidden]="!isNextVisible" (click)="next()" class="clickable">arrow_forward_ios</mat-icon>
  </div>
</div>