.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    height: 80px;
}

.link {
    width: 80px;
    aspect-ratio: 1;
}

a {
    text-decoration: none;
}

i, mat-icon {
    color: var(--icons-links-color);
}

.cv-btn {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border-radius: 8px;
    border: 0;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    color: #FFFFFF;
    display: flex;
    font-weight: bold;
    font-size: 15px;
    height: 50px;
    justify-content: center;
    max-width: 100%;
    min-width: 140px;
  }
  
  .cv-btn:active,
  .cv-btn:hover {
    outline: 0;
    color: #FFFFFF !important;
  }
  
  @media screen and (max-width: 900px) {
    .cv-btn {
      font-size: 20px !important;
      min-width: 196px !important;
    }

    .container {
      flex-direction: column !important;

      .links {
        width: 100% !important;
      }
    }
  }