<div class="container">
    <div class="links">
        <div class="gravityButton link">
            <a href="https://fr.linkedin.com/in/benzine" target="_blank">
                <i class="fa-brands fa-linkedin clickable"></i>
            </a>
        </div>
        <div class="gravityButton link">
            <a href="https://github.com/walidbenzine" target="_blank">
                <i class="fa-brands fa-github clickable"></i>
            </a>
        </div>
        <div class="gravityButton link">
            <a href="mailto:benzine.walid@live.fr">
                <mat-icon class="clickable">mail</mat-icon>
            </a>
        </div>
    </div>
    
    <div class="gravityButton">
        <a [href]="getPathResource('CV.pdf')" target="_blank" class="cv-btn clickable" translate="viewCV"></a>
    </div>
</div>