<div class="navbar">

    <h1>Walid.</h1>

    <div class="items navbar-vue">
        <ng-container *ngTemplateOutlet="items"></ng-container>
    </div>

    <div class="icons navbar-vue">
        <ng-container *ngTemplateOutlet="icons"></ng-container>
    </div>

    <app-sidenav>
        <ng-container *ngTemplateOutlet="items"></ng-container>
        <div class="icons">
            <ng-container *ngTemplateOutlet="icons"></ng-container>
        </div>
    </app-sidenav>
</div>

<ng-template #items>
    <nav-item *ngFor="let page of pages" [page]="page"></nav-item>
</ng-template>

<ng-template #icons>
    <theme-controller></theme-controller>
    <app-language-selector></app-language-selector>
</ng-template>