.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-height: 5%;
    max-height: 10%;
    gap: 2%;

    h1 {
        width: 30%;
        margin-left: 6%;
        color: var(--text-color-h1-navbar);
    }

    nav-item {
        display: flex;
    }
}

.icons {
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-left: 12%;
}

.items {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}