<div class="container">
  <form>
    <app-input-text
      [label]="translatesEnum.FIRST_NAME"
      [control]="contactForm.firstName"
    ></app-input-text>

    <app-input-text
      [label]="translatesEnum.LAST_NAME"
      [control]="contactForm.lastName"
    ></app-input-text>

    <app-input-text
      [label]="translatesEnum.EMAIL_FIELD"
      [control]="contactForm.email"
      type="email"
    ></app-input-text>

    <app-input-text
      [label]="translatesEnum.PHONE"
      [control]="contactForm.phone"
      type="number"
    ></app-input-text>

    <app-input-text
      class="full"
      [label]="translatesEnum.MESSAGE"
      [control]="contactForm.message"
      type="textarea"
    ></app-input-text>

    <input type="text" [formField]="contactForm.company" class="company" />
  </form>

  <button
    mat-flat-button
    [disabled]="contactForm().invalid()"
    (click)="submit()"
  >
    {{ translations().get(translatesEnum.SUBMIT) }}
  </button>
</div>
