<div class="container">
  <form>
    <mat-form-field appearance="outline">
      <mat-label>{{ translations().get(translatesEnum.FIRST_NAME) }}</mat-label>
      <input
        matInput
        type="text"
        [formField]="contactForm.firstName"
        formFieldError
        [errorRef]="firstNameErrorRef"
      />
      <mat-error #firstNameErrorRef></mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ translations().get(translatesEnum.LAST_NAME) }}</mat-label>
      <input
        matInput
        type="text"
        [formField]="contactForm.lastName"
        formFieldError
        [errorRef]="lastNameErrorRef"
      />
      <mat-error #lastNameErrorRef></mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{
        translations().get(translatesEnum.EMAIL_FIELD)
      }}</mat-label>
      <input
        matInput
        type="email"
        [formField]="contactForm.email"
        formFieldError
        [errorRef]="emailErrorRef"
      />
      <mat-error #emailErrorRef></mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ translations().get(translatesEnum.PHONE) }}</mat-label>
      <input
        matInput
        type="text"
        [formField]="contactForm.phone"
        formFieldError
        [errorRef]="phoneErrorRef"
      />
      <mat-error #phoneErrorRef></mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ translations().get(translatesEnum.SUBJECT) }}</mat-label>
      <input
        matInput
        type="text"
        [formField]="contactForm.subject"
        formFieldError
        [errorRef]="subjectErrorRef"
      />
      <mat-error #subjectErrorRef></mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ translations().get(translatesEnum.MESSAGE) }}</mat-label>
      <textarea
        matInput
        type="text"
        [formField]="contactForm.message"
        formFieldError
        [errorRef]="messageErrorRef"
      ></textarea>
      <mat-error #messageErrorRef></mat-error>
    </mat-form-field>

    <button
      mat-flat-button
      type="submit"
      [disabled]="contactForm().invalid()"
      (click)="submit()"
    >
      {{ translations().get(translatesEnum.SUBMIT) }}
    </button>
  </form>
</div>
