.page-home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.card-home {
    width: 50%;
    height: 60%;
    margin: 4% 0 0 2%;
    z-index: 2;
    position: fixed;
}

.picture {
    width: 45%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
    position: fixed;
    right: 0%;
    top: 12%;
    display: flex;
    justify-content: center;

    img {
        height: inherit;
        opacity: 0.5;
        animation: zoom-in-zoom-out 5s ease infinite;
    }
}

.body-card-home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: larger;
    width: 100%;
    height: 100%;
}

.hello {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1%;

    h3 {
        color: var(--job-title-color);
        font-size: x-large;
    }
}

.details {
    display: flex;
    flex-direction: row;
}

.job {
    display: flex;
    gap: 1%;
    align-items: center;
}

.jobTitle {
    width: 0;
    max-width: fit-content;
    font-size: x-large;
    overflow: hidden;
    border-right: .15em solid var(--job-title-blink-color);
    padding-right: 5px;
    color: var(--job-title-color);
    white-space: nowrap;
    animation: 
        typingName 5s steps(40, end) forwards,
        blinkTap 1s infinite;
}

@keyframes typingName {
    from { width: 0 }
    to { width: 100% }
  }

@keyframes blinkTap {
    50% {
      border-color: transparent
    }
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
}

@media screen and (max-width: 900px) {
    .card-home {
        width: 80% !important;
        height: 75% !important;
        margin: 0 0 0 0 !important;
    }

    .body-card-home {
        font-size: large !important;
    }

    .jobTitle  {
        font-size: x-large !important;
    }

    h3 {
        font-size: large !important;
    }

    .picture {
        right: auto !important;
        width: 100% !important;
    }

    .page-home {
        justify-content: center !important;
    }

    .hello {
        flex-direction: column !important;
    }

    .job {
        flex-direction: column !important;
    }
}

@media screen and (max-height: 430px){
    .body-card-home {
        font-size: small !important;
    }

    .card-home {
        height: 70% !important;
    }
}

@media screen and (max-height: 320px){
    .body-card-home {
        .container {
            display: flex !important;
            flex-direction: row !important;
            justify-content: space-around !important;
        }
    }

    .jobTitle {
        font-size: large !important;
    }
}