.page-home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.card-home {
    width: 60%;
    height: 75%;
    margin: 2% 0 0 2%;
    display: flex;
}

.picture {
    width: 45%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
    position: fixed;
    right: 0%;
    top: 12%;

    img {
        height: inherit;
        opacity: 0.5;
    }
}