<div class="page-home">

    <div class="card-glass card-home">
        <div class="body-card-home">

            <span translate="hello"></span>

            <h3>Walid BENZINE</h3>

            <div class="job">
                <span translate="iAm" class="width-inherit"></span>
                <div translate="job" class="jobTitle"></div>
            </div>

            <div class="links">
                <a href="https://fr.linkedin.com/in/benzine" target="_blank">
                    <i class="fa-brands fa-linkedin clickable"></i>
                </a>
                <a href="https://github.com/walidbenzine" target="_blank">
                    <i class="fa-brands fa-github clickable"></i>
                </a>
                <a href="mailto:benzine.walid@live.fr">
                    <mat-icon class="clickable">mail</mat-icon>
                </a>
            </div>
        </div>
    </div>
    
    <div class="picture">
        <!-- Prod -->
        <img src="/portfolio/assets/profile.png">

        <!-- Local developement -->
        <!-- <img src="/assets/profile.png"> -->
    </div>
</div>