<div class="page-home">

    <div class="card-glass card-home">
        <div class="body-card-home">

            <span translate="hello"></span>

            <h3>Walid BENZINE</h3>

            <div class="job">
                <span translate="iAm" class="width-inherit"></span>
                <div translate="job" class="jobTitle"></div>
            </div>

            <app-links class="links"></app-links>
        </div>
    </div>
    
    <div class="picture">
        <!-- Prod -->
        <img src="/portfolio/assets/profile.png">

        <!-- Local developement -->
        <!-- <img src="/assets/profile.png"> -->
    </div>
</div>