:root {
  --background-color: linear-gradient(180deg, rgba(0, 212, 255) 0%, rgba(0, 212, 255, 0.8) 40%, white 100%);
  --icons-color: white;
  --icons-color-hover: rgb(57, 136, 255);
  --text-color: white;
  --blob-color: rgba(16, 178, 41, 0.7);
  --blob-size: 400px;
  --card-opacity: 0.25;
  --card-text-color: black;
  --card-box-shadow-color: rgba(0, 0, 0, 0.6);
  --text-color-h1-navbar: black;
}

body {
  background: var(--background-color);
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: var(--text-color);
  overflow: hidden;
}

.dark-mode {
  --background-color: linear-gradient(0deg, rgba(0, 0, 0) 0%, rgba(26, 8, 103) 50%, rgba(0, 0, 0) 100%);
  --blob-color: rgba(255, 255, 255, 0.2);
  --icons-color: rgb(57, 136, 255);
  --text-color: rgb(57, 136, 255);
  --icons-color-hover: white;
  --card-opacity: 0.1;
  --card-text-color: white;
  --card-box-shadow-color: rgba(255, 255, 255, 0.4);
  --text-color-h1-navbar: white;
}

mat-icon {
  color: var(--icons-color);
  font-size: 30px !important;
  width: 30px !important;
  height: 30px !important;
}

.clickable {
  cursor: pointer;
}

.gravityButton {
  display: grid;
  place-items: center;
  min-width: 60px;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  &:hover {
    color: var(--icons-color-hover) !important;
  }

  .clickable {
    background: none;
    transform: translate(var(--tx, 0), var(--ty, 0));
    transition: all 0.2s ease-out;
    display: flex;
    align-items: center;

    &:focus-visible {
      outline: 2px solid #fff;
      outline-offset: 2px;
    }

    &:hover {
      color: var(--icons-color-hover) !important;
    }
  }
}

#blob {
  z-index: -1;
  animation: rotate360 20s infinite;
  background: var(--blob-color);
  filter: blur(calc(var(--blob-size)/2.15));

  width: var(--blob-size);
  height: var(--blob-size);
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
}

@keyframes rotate360 {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.15;
  }

  to {
    rotate: 360deg;
  }
}

#blob-blur {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur;
}

.card-glass {
  background: rgba(255, 255, 255, var(--card-opacity));
  border-radius: 16px;
  box-shadow: 5px 4px 30px var(--card-box-shadow-color);
  backdrop-filter: blur(2.1px);
  -webkit-backdrop-filter: blur(2.1px);
  border: 1px solid rgba(255, 255, 255, 0.38);
  padding: 30px;
  width: 100%;
  height: 100%;
  color: var(--card-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}