<div class="component">
    <div class="buisness-wrapper">
        <!-- Prod -->
        <img class="logoIcon" src="/portfolio/assets/viveris.png">

        <!-- Local developement -->
        <!-- <img class="logoIcon" src="/assets/viveris.png"> -->

        <div class="buisness-info">
            <span>Viveris</span>
            <span>Développeur Fullstack</span>
            <span>Contrat CDI</span>
        </div>

    </div>
    <div class="infos">

    </div>
    <div class="skills">

    </div>
</div>