<app-carousel-item [logos]="['viveris.png']" class="fullWidthHeight">
    <ng-container buisness-info>
        <div translate="companyName">
            <span>Viveris</span>
        </div>
        <div translate="role">
            <span translate="job"></span>
        </div>
        <div translate="type">
            <span>CDI</span>
        </div>
        <div class="dates">
            <span>01/2021</span>
            <span>-</span>
            <span translate="today"></span>
        </div>
    </ng-container>

    <ng-container infos>

    </ng-container>

    <ng-container skills>

    </ng-container>
</app-carousel-item>