.component {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.buisness-wrapper {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.buisness-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80px;
}

.infos {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.skills {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 900px) {
    .component {
        flex-direction: column !important;
    }

    .buisness-wrapper {
        width: 100% !important;
        height: 30% !important;
    }

    .infos {
        width: 100% !important;
        height: 30% !important;
    }

    .skills {
        width: 100% !important;
        height: 30% !important;
    }
}